# {{ dist_name }}

![PyPI - Version](https://img.shields.io/pypi/v/{{ dist_name }}?link=https://pypi.org/p/{{ dist_name }})
![GitHub Actions Workflow Status](https://img.shields.io/github/actions/workflow/status/{{ github_username }}/{{ dist_name }}/ci.yml?link=https://github.com/{{ github_username }}/{{ dist_name }}/actions/workflows/ci.yml)
![Codecov](https://img.shields.io/codecov/c/gh/{{ github_username }}/{{ dist_name }}?link=https://codecov.io/gh/{{ github_username }}/{{ dist_name }})

{{ short_description }}


## Installation

Install by running:

```sh
python3 -m pip install {{ dist_name }}
```

See https://mopidy.com/ext/{{ ext_name }}/ for alternative installation methods.


## Configuration

Before starting Mopidy, you must add configuration for
{{ dist_name }} to your Mopidy configuration file:

```ini
[{{ ext_name }}]
# TODO: Add example of extension config
```


## Project resources

- [Source code](https://github.com/{{ github_username }}/{{ dist_name }})
- [Issues](https://github.com/{{ github_username }}/{{ dist_name }}/issues)
- [Releases](https://github.com/{{ github_username }}/{{ dist_name }}/releases)


## Development

### Set up development environment

Clone the repo using, e.g. using [gh](https://cli.github.com/):

```sh
gh repo clone {{ github_username }}/{{ dist_name }}
```

Enter the directory, and install dependencies using [uv](https://docs.astral.sh/uv/):

```sh
cd {{ dist_name }}/
uv sync
```

### Running tests

To run all tests and linters in isolated environments, use
[tox](https://tox.wiki/):

```sh
tox
```

To only run tests, use [pytest](https://pytest.org/):

```sh
pytest
```


## Credits

- Original author: [{{ author_full_name }}](https://github.com/{{ github_username }})
- Current maintainer: [{{ author_full_name }}](https://github.com/{{ github_username }})
- [Contributors](https://github.com/{{ github_username }}/{{ dist_name }}/graphs/contributors)
