include .travis.yml
include *.py
include *.rst
include LICENSE
include MANIFEST.in
include pyproject.toml
include tox.ini

recursive-include .github *

include mopidy_{{ cookiecutter.ext_name }}/ext.conf

recursive-include tests *.py
recursive-include tests/data *
